name: Sync production database

on: workflow_dispatch

permissions: write-all

jobs:
  Sync:
    runs-on: windows-2019
    strategy:
      fail-fast: false
    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt

      - name: Sync Database
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          python -m pip install -U -r requirements.txt
          python main.py -i
          python main.py -u

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Db
          path: |
            data/runtime/*